.navbar-toggle {
    display: none;
}

#menuButton {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: rgb(0, 0, 0); 
    display: none; 
}

#menuButton::before {
    content: "☰"; 
}

#menuButton.open::before {
    content: "X"; 
    font-size: 1.5rem; 
}

#menuButton {
    display: none;
}

@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-logo img {
        width: 60px;
        height: 50px;
    }
    .navbar-menu.open {
        display: flex; 
    }

    #menuButton {
        display: block; 
        cursor: pointer; 
    }


    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: black;
        margin: 5px 0;
        transition: 0.4s;
    }
    .navbar-name {
        font-size: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 10px;
    }

    .sidebar, #list-view, #grid-view{
        display: none;
    }
    .inquire:hover {
        background-color: #000000;
        color: white;
    }

}