.navbar-menu li a {
    text-decoration: none;
    color: #ffffff;
}

/* Hide the navbar-toggle (hamburger icon) on desktop */
.navbar-toggle {
    display: none;
}

/* Styling for the entire section */
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #f5f5f5;
}

/* Styling for each individual block */
.events, .weather, .forecast {
    flex: 1;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the current weather div */
/* .weather-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
} */

/* Style for the weather icon */
.weather-icon {
    width: 50px;
    height: 50px;
}

/* Styling the weather details container */
.weather-details {
    font-size: 14px;
    color: #333;
}

h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Forecast styles */
.forecast {
    text-align: left;
}

/* Adjust icon size */
.weather-icon img {
    max-width: 100%;
    height: auto;
}


/* Mobile view styles */
@media (max-width: 768px) {
    /* Hide the menu in mobile view */
    .navbar-menu {
        display: none;
        flex-direction: column;
    }

    /* Show the menu when the "active" class is added */
    .navbar-menu.active {
        display: flex;
    }

    /* Show the hamburger icon in mobile view */
    .navbar-toggle {
        display: block;
        cursor: pointer;
    }

    .navbar-toggle .bar {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        margin: 5px 0;
        transition: 0.4s;
    }

    /* Adjust footer layout for mobile */
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer-column {
        align-items: center;
        text-align: center;
        margin-bottom: var(--spacing-small);
    }

    /* Center the social icons in mobile */
    .social-icons {
        justify-content: center;
        margin-top: var(--spacing-small);
    }

    /* Card Styles for Mobile */
    .grid {
        flex-direction: column; 
        gap: 10px;
    }